.footer {
  padding: 4rem 0;
  font-size: 4rem;
  color: $color-light-grey;
  background-color: $color-dark-grey; 

  &__site-map {
    font-size: 1.6rem;
  }

  &__certifications {
    font-size: 1.6rem;
  }

  &__social-media {

    &--insta {
      height: 4rem;
      width: auto;
    }
  }
}

.fa {
  letter-spacing: 1rem;
  color: $color-light-grey;
  text-decoration: none;

  &:hover {
    color: $color-white;
    transform: scale(1.1, 1.1);
  }
}