.gallery-section {
  background-color: $color-white;
  margin-top: calc($nav-header-connect + 2rem);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 40px;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.section-title {
  grid-column: 1 / -1;
  font-size: 3.5rem;
  font-family: $default-font;
  color: $color-primary;
}

.galleryImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
  position: relative;
  transition: transform 250ms;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  padding: 5rem;
  z-index: 5000;
  &__title {
    color: $color-light-grey;
    position: fixed;
    font-style: italic;
    left: 2rem;
    bottom: 0.5rem;
    font-family: $default-font;
    font-size: 3.5rem;
  }
}

#selected-image {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.picture-btn {
  background-color: $color-primary;
  color: $color-white;
  font-family: $default-font;
  font-size: 3rem;
  margin: 0 1rem;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5001;
  border: none;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
  }
}

.close-btn {
  align-self: flex-start;
  margin-left: -6rem;
}
