.landing-page {
  // background-image: linear-gradient(
  //     to right,
  //     rgba($color-primary-light, 0.95),
  //     rgba($color-primary, 0.95)
  //   ),
  //   url('https://dl.dropbox.com/s/zgxu4lnq6tepq83/IMG_0003-thumb.jpg?dl=0');
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
