@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    margin: 0%;
}

#header {
    background: linear-gradient(rgb(1, 1, 44), rgb(93, 93, 250));
    color: white;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    box-shadow: 0px .5rem .5rem black;
    display: flex;
    justify-content: center;
}

#header-text {
    display: flex;
    justify-content: space-between;
    width: 160rem;
    padding: 1.5rem;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(7rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-9rem);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: moveInRight 1.1s ease-out;
}

#business {
    font-size: 2rem;
    font-family: 'Josefin Sans', san-serif;
    font-style: italic;
    font-weight: 500;
    padding-top: 1.5rem;
}

#name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    border: solid;
    border-width: .5rem;
    border-color: white;
    padding-top: 1rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-items {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: thin solid;
}

#about-us {
    opacity: 0;
    animation: fadeIn 0.5s linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#services {
    opacity: 0;
    animation: fadeIn 0.5s linear;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

#gallery {
    opacity: 0;
    animation: fadeIn 0.5s linear;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

#phone {
    opacity: 0;
    animation: fadeIn 0.5s linear;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.nav-items:hover {
    background-color: white;
    color: navy;
    font-size: 3rem;
    border-radius: 10rem;
    margin-left: -.6rem;
    transition: all .2s;
}

#phone {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pics-and-quote-container {
    padding: 1rem;
    padding-top: 15rem;
    width: 120rem;
}

#landing-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
}

.landing-gallery {
    width: 25rem;
    height: 25rem;
}

#request-quote {
    border: solid;
    border-color: tan;
    background-color: tan;
    text-align: center;
    width: 40rem;
}

#landing-gallery-1 {
    width: 100%;
    height: auto;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkslategray;
    width: 100%;
    font-size: 2rem;
    color: white;
    padding: 2rem;
}

#instagram {
    width: 5rem;
}