.landing-page {
  background-image: linear-gradient(
      rgba($color-white, 0.8),
      rgba($color-light-grey, 0.8)
    ),
    url('../assets/images/IMG_0006.jpg');
  text-align: center;
  margin-left: 24rem;
}
