.collage {
  background-image: linear-gradient(rgba($color-white, 0.8), rgba($color-light-grey, 0.8)), url("../assets/images/IMG_0006.jpg");
  padding: 5rem 0;
  text-align: center;

  &__photo {
    height: auto;
    width: 30%;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.5, 1.5);
      box-shadow: 0rem 0rem 2rem $color-black;
    }
  }
}

.content {
  display: flex;
}

.sidebar {
  width: 28%;
  margin: 10rem 0 0 0;
  background-color: $color-dark-grey;
}

.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 3.5rem;

  // @media only screen and (max-width: $bp-medium) {
  //     display: flex;
  //     margin: 0;
  // }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      // @media only screen and (max-width: $bp-medium) {
      //     margin: 0;
      // }
    }

    // @media only screen and (max-width: $bp-medium) {
    //     flex: 1;
    // }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary-light;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $color-primary-light;
  }

  &__link:link,
  &__link:visited {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    // @media only screen and (max-width: $bp-medium) {
    //     justify-content: center;
    //     padding: 2rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     flex-direction: column;
    //     padding: 1.5rem
    // }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    // @media only screen and (max-width: $bp-small) {
    //     margin-right: 0;
    //     margin-bottom: .7rem;
    //     width: 1.5rem;
    //     height: 1.5rem;
    // }
  }

  &__quote {
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2rem;
    border-top: 2px solid rgba($color-white, 0.8);
    border-bottom: 2px solid rgba($color-white, 0.8);
  }
}
