.landing-page {
  background-image: linear-gradient(rgba($color-white, 0.8), rgba($color-light-grey, 0.8)), url("../assets/images/IMG_0006.jpg");
  text-align: center;
  margin-left: 24rem;
}

.collage {
  // background-image: linear-gradient(rgba($color-white, 0.8), rgba($color-light-grey, 0.8)), url("../assets/images/IMG_0006.jpg");
  // padding: 5rem 0;
  // text-align: center;

  &__photo {
    height: auto;
    width: 30%;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.5, 1.5);
      box-shadow: 0rem 0rem 2rem $color-black;
    }
  }
}

// .content {
//   display: flex;
// }

.sidebar {
  position: fixed;
  width: 24rem;
  height: 100%;
  // margin: 10rem 0 0 0;
  background-color: $color-dark-grey;
}

.side-nav {
  // position: fixed;
  font-size: 2rem;
  list-style: none;
  // margin-top: 3.5rem;

  // @media only screen and (max-width: $bp-medium) {
  //     display: flex;
  //     margin: 0;
  // }

  &__logo-container {
    padding: 3rem 0.8rem;
    height: 10rem;
  }

  &__logo {
    text-decoration: none;
    color: $color-white;
  }

  &__logo-name {
    // display: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.2rem;
    border: solid;
    border-width: 0.3rem;
    border-color: $color-white;
    // border-color: $color-primary-light;
    padding: 1rem 0.5rem 0.2rem 0.5rem;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      // @media only screen and (max-width: $bp-medium) {
      //     margin: 0;
      // }
    }

    // @media only screen and (max-width: $bp-medium) {
    //     flex: 1;
    // }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary-light;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $color-primary-light;
  }

  &__link:link,
  &__link:visited {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    // @media only screen and (max-width: $bp-medium) {
    //     justify-content: center;
    //     padding: 2rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     flex-direction: column;
    //     padding: 1.5rem
    // }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    // @media only screen and (max-width: $bp-small) {
    //     margin-right: 0;
    //     margin-bottom: .7rem;
    //     width: 1.5rem;
    //     height: 1.5rem;
    // }
  }

  &__quote {
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2rem;
    border-top: 2px solid rgba($color-white, 0.8);
    border-bottom: 2px solid rgba($color-white, 0.8);
  }
}

.tagline-container {
  background-color: $color-white;
  height: 50rem;

  &__text {
    // FIXME: need to find an alternative for this
    @include absCenter;
    left: 45%;
    font-family: $default-font;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__collage {
    position: relative;

    &--photo {
      width: 20%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
      border-radius: 2px;
      position: absolute;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.4) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
      }
    }

    &--photo-1 {
      right: 24rem;
      top: 12rem;
    }

    &--photo-2 {
      right: 6rem;
      top: 14rem;
    }

    &--photo-3 {
      right: 15rem;
      top: 20rem;
    }

    &:hover &__photo:not(:hover) {
      transform: scale(0.6);
    }
  }
}
