.head-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: $nav-header-connect;
  width: 100vw;
  height: $nav-height;
  background-color: $color-dark-grey;
  font-size: 1.7rem;
  font-style: italic;
  list-style: none;
  z-index: 50;
  animation: navSlide 1s ease-out;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      // @media only screen and (max-width: $bp-medium) {
      //     margin: 0;
      // }
    }

    // @media only screen and (max-width: $bp-medium) {
    //     flex: 1;
    // }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    transition: background-color 0.1s;
  }

  &__item:active::before {
    background-color: $color-primary-light;
  }

  &__link:link,
  &__link:visited {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    &:hover {
      background-color: $color-primary-light;
    }

    // @media only screen and (max-width: $bp-medium) {
    //     justify-content: center;
    //     padding: 2rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     flex-direction: column;
    //     padding: 1.5rem
    // }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    fill: currentColor;

    // @media only screen and (max-width: $bp-small) {
    //     margin-right: 0;
    //     margin-bottom: .7rem;
    //     width: 1.5rem;
    //     height: 1.5rem;
    // }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    // opacity: 0;
    text-decoration: none;
    // color: $color-primary;
    color: $color-white;
  }
}

.quote-request-btn {
  font-style: italic;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  border-left: 2px solid rgba($color-white, 0.8);
  border-right: 2px solid rgba($color-white, 0.8);
  background-color: $color-primary-light;
}
