.section {
  &__aboutus {
    padding: 0 2%;
    border: 1px;
    display: flex;
    align-items: center;
  }

  &__services {
    padding: 1rem 2%;
    &--title {
      margin-top: calc(#{$nav-header-connect} + #{$nav-height});
    }
  }
}

.aboutus-container {
  margin-top: calc(#{$nav-header-connect} + #{$nav-height});
  min-height: 85vh;
  width: 100%;
  background-color: $color-white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 0 10px 0px $color-dark-grey;

  @include respond(phone) {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 0;
  }

  &__photo {
    height: auto;
    width: 50%;

    @include respond(tab-port) {
      width: 75%;
      margin-bottom: 2rem;
    }

    &--file {
      position: relative;
      height: auto;
      width: 70%;
      overflow: hidden;
      border-radius: 5px;
    }

    &--1 {
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__text {
    width: 50%;

    @include respond(phone) {
      width: 80%;
      // margin-bottom: 2rem;
    }

    &--title {
      font-family: $default-font;
      text-transform: uppercase;
      font-size: 4rem;
      margin-bottom: 4rem;
    }

    &--paragraph {
      font-family: $cursive-font;
      font-size: 2.2rem;
      font-style: italic;
      text-align: justify;

      @include respond(phone) {
        text-align: center;
        font-family: $default-font;
        font-style: normal;
      }
    }
  }
}

.services {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $default-font;
    font-size: 2.2rem;
    color: $color-black;
    padding: 2rem 0;
  }

  &__container {
    width: 30%;
    transition: 0.3s ease-in;

    @include respond(phone) {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  &__photo {
    max-width: 90%;
    height: 80%;
    border-radius: 2px;
  }

  &__text {
    font-family: $cursive-font;
    font-size: 2rem;
    margin: 2rem;

    @include respond(phone) {
      text-align: center;
      font-family: $default-font;
      font-style: normal;
    }
  }
}

.other-services {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  &__list {
    padding: 2rem;
    list-style: none;

    @include respond(phone) {
      width: 90%;
      margin-top: -2rem;
    }

    &--item {
      font-family: $cursive-font;
      font-size: 2rem;

      @include respond(phone) {
        text-align: center;
        font-family: $default-font;
        font-style: normal;
      }
    }
  }
}
